<!doctype html>
<html>
  <head>
    <title>About <%=nameData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=nameData.appName%></h1>
    <p>About our Fitness App
        <br>Here you can track your running achievements and see how you compare to others!
        <br>Register an account to get started!
    </p>
  </body>
</html>