<!doctype html>
<html>
  <head>
    <title>Welcome to <%=nameData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=nameData.appName%></h1>
    <p><a href="about">About <%=nameData.appName%></a></p>
    <p><a href="search">Search <%=nameData.appName%> and view achievements</a></p>
    <p><a href="users/register">Register here!</a></p>
    <p><a href="users/login">Login here!</a></p>
    <p><a href="users/add_achievement">Add Achievement!</a></p>
    <p><a href="/users/logout">Logout</a></p>
  </body>
</html>